<section class="holder bg-white" id="message">
    <h1 class="header md:mb-16">Write to Us &nbsp;&nbsp;Or&nbsp;&nbsp;  Request Demo</h1>
    <div class="app-container text-center">
        <p class="text-base md:text-lg font-semibold md:font-bold "> Kindly Submit Your Query at </p>
         <p class="text-base md:text-lg orange font-semibold md:font-bold "> {{contact.email}}</p>
    </div>
    <div class="ribbon ribbon-l"></div>
</section>
