<template id="dialog-template">
    <div class="modal" id="reply-dialog">
        <div class="modal-content">
        <h1 class="text-xl mb-4" id="m-header">Dear XYZ, thanks for reaching out</h1>
        <p class="text-sm mb-4 tracking-wide font-light" id="m-body">
            We will reply you soon as possible.</br> 
            If your inquiry is urgent, please contact us using via telephone number 
        </p>
        <div class="pt-1 w-full">
            <div class="progress-container">
            <div class="progress-bar"></div>
            </div>
            <button class="btn btn-second float-right" id='m-cancel-btn'>Close</button>
        </div>
        </div>
    </div>
</template>