 <footer class="bg-prime-100 pt-10 z-20 ">
    <div class="px-10 md:px-40 grid grid-flow-col grid-cols-2 md:grid-cols-3 gap-10 ">
    <div class="flex flex-col justify-center items-center col-start-1 col-end-3 md:col-end-2">
        <img class="h-32 w-32 text-gray-300 mr-2 mb-2" src="./src/images/logo128.png" alt="">
        <span class="text-xs text-center font-semibold tracking-wider text-gray-200 mb-4">Redesigned Low Voltage Electrical Appliances With Innovations, Security & Safty measures</span>
        <div class="vessel-wrap">
        <a class="social-link" onclick="fbclick()">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
            </svg>
        </a>
        <a class="ml-4 social-link" onclick="twitterclick()">
            <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <path
                d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"
            ></path>
            </svg>
        </a>
        <a class="ml-4 social-link" onclick="instaclick()">
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
            <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
            </svg>
        </a>
        </div>
    </div>
    <div class="row-start-2 row-end-2 col-start-1 md:row-start-1 md:row-end-1 md:col-start-2">
        <h1 class="text-gray-100 uppercase mb-4 ">Solutions</h1>
        <ul class="flex flex-col items-start gap-1" id="footer-service-links">
        <li class="footer-link">Access Control System</li>
        <li class="footer-link">Fire Alarm System</li>
        <li class="footer-link">CCTV Surveillance</li>
        <li class="footer-link">Building Management System</li>
        <li class="footer-link">Networking System</li>
        <li class="footer-link">Nurse Calling System</li>
        <li class="footer-link">Optical Fiber Implementattion</li>
        <li class="footer-link">EPBX System</li>
        <li class="footer-link">Smart City</li>
        </ul>
        
        
    </div>
    <div class="row-start-2 row-end-2 col-start-2 md:row-start-1 md:row-end-1 md:col-start-3 mb-4">
        <h1 class="text-gray-100 mb-4">
        <a href="#service-3"><span>High & Low Voltage Solution</span></a>
        </h1>
        <h1 class="text-gray-100 mb-4">
        <a href="#service-2"><span>Solutions for House Holders</span></a>
        </h1>
        <h1 class="text-gray-100 uppercase mb-4">Company</h1>
        <ul class="flex flex-col justify-start items-start text-sm gap-1">
        <li class="footer-link">
            <a href="#insights">Our Vision and Mission</a>
        </li>
        <li class="footer-link">
            <a href="#client">Our Clients</a>
        </li>
        </ul>
    </div>
    </div>
    <div class="mt-10 px-4">
    <hr />
    <small class="text-gray-600 p-1 text-xs tracking-tighter ">© 2024 Workflow Inc, All rights reserved</small>
    </div>
</footer>
