<header class="bg-prime-100" id="nav-bar">
    <nav class="container flex items-center flex-wrap">
    <div class="p-3 mr-4 inline-flex items-center">
        <img class="h-6 w-6 mr-2" src="./src/images/logo128.png" alt="" />
        <span class="nav-logo-text">{{header.name}}</span>
    </div>
    <button class="nav-btn" id="menu_btn">
        <svg class="h-6 w-6" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path id="burger" d="M4 6h16M4 12h16M4 18h16" />
        <path id="cross" class="hidden" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
    <ul class="nav-menu hidden" id="menu">
        <li class="nav-menu-item">
        <a href="#insights"><span>Insights</span></a>
        </li>
        <li class="nav-menu-item">
        <a href="#servicess"><span>Our Solutions</span></a>
        </li>
        <li class="nav-menu-item">
        <a href="#message"><span>Request Demo</span></a>
        </li>
        <li class="nav-menu-item">
        <a href="#contact"><span>Contact us</span></a>
        </li>
        <li class="nav-menu-item">
        <a href="#faq"><span>FAQ</span></a>
        </li>
    </ul>
    </nav>
</header>