<section class="relative bg-white pb-20 md:pb-32" id="client">
<div class="vessel-wrap  px-5 md:px-20">
    <img class="clints-img" src="./src/images/tat-sky.png" alt="" />
    <img class="clints-img" src="./src/images/L&T.png" alt="" />
    <img class="clints-img" src="./src/images/power-grid.png" alt="" />
    <img class="clints-img" src="./src/images/spml.png" alt=""/>
    <img class="clints-img" src="./src/images/Sterling-Wilson.png" alt=""/>
    <img class="clints-img" src="./src/images/sarthak.png" alt=""/>
    <img class="clints-img sm:p-10" src="./src/images/jusnl.png" alt="" />
    <img class="clints-img" src="./src/images/chubb.png" alt=""/>
    <img class="clints-img" src="./src/images/vlan.png" alt="" />
    <img class="clints-img" src="./src/images/unitedTech.png" alt="" />
    <img class="clints-img sm:p-10" src="./src/images/cgcri.png" alt="" />
</div>
<div class="app-container text-center">
    <p class="text-base md:text-lg orange font-semibold md:font-bold ">Our trusted clients compliment us for our excellent outcomes, friendly service, timely delivery & in-depth comprehension</p>
</div>
<div class="ribbon ribbon-l"></div>
</section>