<section class="responsive-image">
    <h1 class="text-center text-white text-lg md:text-xl tracking-tight md:tracking-normal bg-opacity-60 bg-gray-900 pt-10 sm:pt-20 px-5">Redesigned Low Voltage Electrical Appliances With Innovations, Security & Safty measures</h1>
    <div class="flex flex-row flex-wrap items-center justify-end md:justify-center bg-opacity-60 bg-gray-900 p-10 md:p-10" >
        <blockquote class="text-lg md:text-3xl text-right orange tracking-wide">Building Mangement System<br>CCTV Implementation<br>Networking System<br>EPBX System<br>Fire Alarm </blockquote>
        <div class="h-0.5 md:h-36 w-3/4 md:w-1 mr-0 m-3 md:m-5" style=" background-color: #ff8800 "></div>
        <blockquote class="text-lg md:text-3xl text-right md:text-left orange tracking-wide">Home Electrical Appliance<br>Air Conditioner Service<br>Data and Voice<br>Smart Home</blockquote>
    </div>
</section>