 <section class="holder bg-white" id="service-1">
    <h1 class="header md:mb-16">Solutions For Small To Large Scale Industries</h1>
    <div class="vessel-wrap">

        <div class="card-serv" >
        <h1 class="card-heading">Access Control System</h1>
        <img class="card-img" src="./src/images/access_control.svg" alt="" />
        <p class="card-text">
            Access control systems vary widely in type and complexity</p>
        <ul class="service-list ">
            <li class="pb-1">Smart card reader</li>
            <li class="pb-1">EM lock</li>
            <li class="pb-1">Gate barrier systems</li>
            <li class="pb-1">Parking management systems</li>
        </ul>
        <a type="button" class="btn btn-prime" href="#message">Request Demo</a>
        </div>

        <div class="card-serv" >
        <h1 class="card-heading">Fire Alarm System</h1>
        <img class="card-img" src="./src/images/fire_alarm.svg" alt="" />
        <p class="card-text">At the core of a fire alarm system are the detection devices</p>
        <ul class="service-list ">
            <li class="pb-1">Heat detectors</li>
            <li class="pb-1">Smoke detectors</li>
            <li class="pb-1">Multi-sensor detectors</li>
            <li class="pb-1">Manual call points</li>
        </ul>
        <a type="button" class="btn btn btn-prime" href="#message">Request Demo</a>
        </div>

        <div class="card-serv" >
        <h1 class="card-heading">CCTV Surveiliance</h1>
        <img class="card-img" src="./src/images/cctv.svg" alt="" />
        <p class="card-text">CCTV cameras can go a long way to deterring theft and vandalism</p>
        <ul class="service-list">
            <li class="pb-1">HD and wide angle video</li>
            <li class="pb-1">Wireless technology</li>
            <li class="pb-1">Remote access and cloud backup</li>
            <li class="pb-1">Motion sensors and automation</li>
        </ul>
        <a type="button" class="btn btn btn-prime" href="#message">Request Demo</a>
        </div>

        <div class="card-serv" >
        <h1 class="card-heading">Building Management System [BMS]</h1>
        <img class="card-img" src="./src/images/building_management.svg" alt="" />
        <p class="card-text">A BMS is a computer-based control system that controls and automates many aspects of a building</p>
        <ul class="service-list ">
            <li class="pb-1">Humidity monitoring and alarm systems</li>
            <li class="pb-1">Gas detection and air pressure monitoring</li>
            <li class="pb-1">Water leak detection and alarm systems</li>
            <li class="pb-1">Electrical power detection with alarm</li>
            <li class="pb-1">Temperature monitoring and alarm systems</li>
            <li class="pb-1">Co2 monitoring and alarm systems</li>
            <li class="pb-1">Air quality / flow monitoring</li>
        </ul>
        <a type="button" class="btn btn btn-prime" href="#message">Request Demo</a>
        </div>

        <div class="card-serv" >
        <h1 class="card-heading">Optical Fiber Implementation</h1>
        <img class="card-img" src="./src/images/optical_fiber.svg" alt="" />
        <p class="card-text">The increasing demand for communication services requires systems of large
            information carrying capacities and bandwidth</p>
        <ul class="service-list ">
            <li class="pb-1">Fiber to X(FTTX) planning and execution</li>
            <li class="pb-1">Excavation / Trenching work and OFC laying / blowing</li>
            <li class="pb-1">Fusion splice / termination</li>
            <li class="pb-1">Preventive / corrective maintenance of OFC networks</li>
        </ul>
        <a type="button" class="btn btn btn-prime" href="#message">Request Demo</a>
        </div>

        <div class="card-serv" >
        <h1 class="card-heading">Networking System</h1>
        <img class="card-img" src="./src/images/networking.svg" alt="" />
        <p class="card-text">It is difficult to overestimate the critical importance of computer networks and communication for the majority of businesses and organisations.</p>
        <ul class="service-list ">
            <li class="pb-1">High degree of interconnection between computers</li>
            <li class="pb-1">Detect, diagnose, and resolve network performance issues</li>
            <li class="pb-1">Monitor and analyze network bandwidth performance and traffic patterns</li>
            <li class="pb-1">Enterprise command center</li>
        </ul>
        <a type="button" class="btn btn btn-prime" href="#message">Request Demo</a>
        </div>

        <div class="card-serv" >
        <h1 class="card-heading">Nurse Calling System</h1>
        <img class="card-img" src="./src/images/nurse.svg" alt="" />
        <p class="card-text">Wireless nurse call system for the Healthcare Industry</p>
        <ul class="service-list ">
            <li class="pb-1">Patient list design with bed UI interface </li>
            <li class="pb-1">Call and talkback, support master host and substation unit two-way call</li>
            <li class="pb-1">Staff assist function. If need more staffs assistance, press to realize staff assistance.</li>
    
        </ul>
        <a type="button" class="btn btn btn-prime" href="#message">Request Demo</a>
        </div>

        <div class="card-serv" >
        <h1 class="card-heading">EPBS System</h1>
        <img class="card-img" src="./src/images/epbx.svg" alt="" />
        <p class="card-text">Organizations incorporate the EPABX system for communication, either between the employees or outside the clients</p>
        <ul class="service-list ">
            <li class="pb-1">Auto call attendance, Auto call distributor, Auto call routing </li>
            <li class="pb-1">Shared message boxes, Voice mail</li>
        </ul>
        <a type="button" class="btn btn btn-prime" href="#message">Request Demo</a>
        </div>

        <div class="card-serv" >
        <h1 class="card-heading">Smart City</h1>
        <img class="card-img" src="./src/images/smart_city.svg" alt="" />
        <p class="card-text">Smart city districts tackle many of the the challenges that cities face today</p>
        <ul class="service-list ">
            <li class="pb-1">Optimized power system </li>
            <li class="pb-1">IOT solutions for city campuses</li>
            <li class="pb-1">Robust IT connectivity and digitalization</li>
            <li class="pb-1">Sanitation, including solid waste management</li>
        </ul>
        <a type="button" class="btn btn btn-prime" href="#message">Request Demo</a>
        </div>
    </div>  
    <div class="ribbon ribbon-l"></div>
</section>