<section class="holder bg-gray-100" id="faq">
    <h1 class="header md:mb-16">Frequently Asked Questions</h1>
    <div class="app-container flex flex-col md:mx-auto w-full justify-center gap-2 items-center">
        <details class="feq-item">
        <summary class="question">Do MLANinfotech provide any trail service ?</summary>
        <p class="answer">Yes, For Demo or Trail kindly contact us using <b>Resquest Demo menu</b> or Contact Use via Mobile number/Email Id.</p>
        </details>

        <details class="feq-item">
        <summary class="question">Do MLANinfotech Working in PAN India ?</summary>
        <p class="answer">We are Currently operating only in <b>West Bengal, Bihar , Jahrkhand, Assam</b> </p>
        </details>

        <details class="feq-item">
        <summary class="question">Details</summary>
        <p class="answer">Something small enough to escape casual notice.</p>
        </details>

        <details class="feq-item">
        <summary class="question">Details</summary>
        <p class="answer">Something small enough to escape casual notice.</p>
        </details>
    </div>
        <!-- <div class="ribbon ribbon-r"></div> -->
</section>