<section class="holder bg-white" id="service-3">
    <h1 class="header md:mb-16">High Voltage And Low Voltage Solutions</h1>
    <div class="vessel">
        <div class="child">
        <h1 class="header-sm">High Voltage Solutions</h1>
        <figure class="image-container">
            <img class="image-effect" src="./src/images/high-voltage.png" alt="" />
        </figure>
        <ul class="service-list">
            <li class="pb-1">Transformer Installation, Testing ,Commissioning</li>
            <li class="pb-1">Relay Testing And Commissioning</li>
        </ul>
        </div>
        <div class="child">
        <h1 class="header-sm">Low Voltage Solutions</h1>
        <figure class="image-container">
            <img class="image-effect" src="./src/images/low-voltage.png" alt="" />
        </figure>
        <ul class="service-list">
            <li class="pb-1">Building Wiring Through Laying Of Conceal Or Surface Conduit</li>
            <li class="pb-1">Installation Of Active and Passive Equipment, Termination</li>
            <li class="pb-1">Installation Termination Of Different Panel, Db, Switch Board</li>
        </ul>
        </div>
    </div>
    <div class="ribbon ribbon-l"></div>
</section>