<section class="holder bg-gray-100" id="servicess">
    <div class="app-container child mb-8">
        <h1 class="header">Our Solutions</h1>
        <p class="para">We offer a wide range of services, from large corporations to small businesses including Hosue holders</p>
    </div>
    <div class="vessel ">
        <div class="child ">
        <h1 class="header-sm">Solutions for Small to Large Scale Industries </h1>
        <figure class="grid place-items-center">
            <img class="img-pot" src="./src/images/service_industry.svg" alt="" />
        </figure>
        <p class="para bg-prime-100 bg-opacity-30 sm:tracking-normal rounded p-5">
            As smart technology matures and energy efficiency becomes a greater priority for Business owners, building management systems (BMS), CCTV , Fire Alarm are becoming an integral part of both new construction and retrofit projects.
        </p>
        <div class="vessel-wrap mb-8">
            <label class="service-tab">ACCESS CONTROLL SYSTEM</label>
            <label class="service-tab">FIRE ALARM SYSTEM</label>
            <label class="service-tab">CCTV SURVEILLANCE</label>
            <label class="service-tab">BUILDING MANAGEMENT SYSTEM</label>
            <label class="service-tab">NETWORKING SYSTEM</label>
            <label class="service-tab">NURSE CALLING SYSTEM</label>
            <label class="service-tab">OPTICAL FIBER INPLEMENTATION</label>
            <label class="service-tab">EPBX SYSTEM</label>
            <label class="service-tab">SMART CITY</label>
        </div>
        <a type="button" class="btn btn-prime" href="#service-1">Know More</a>
        </div>
        <div class="child ">
        <h1 class="header-sm">Solutions for House Holders</h1>
        <figure class="grid place-items-center ">
            <img class="img-pot " src="./src/images/service_house.svg" alt="" />
        </figure>
        <p class="para bg-prime-100 bg-opacity-30 sm:tracking-normal rounded p-5">
            It is possible to make your home more energy-efficient depending on how you use your AC, celling fan or water pump. You can have more precise control over your monthly electricity bill by using our energy efficient survicess.
        </p>
        <div class="vessel-wrap mb-8">
            <label class="service-tab">AC SERVICES</label>
            <label class="service-tab">DATA AND VOICE</label>
            <label class="service-tab">EPBX SYSTEM</label>
            <label class="service-tab">ELECTRICAL MOTOR</label>
            <label class="service-tab">CEILING FAN</label>
            <label class="service-tab">CALLING BELL</label>
        </div>
        <br><br><br>
        <a type="button" class="btn btn-prime" href="#service-2">Know More</a>
        </div>
    </div>
    <div class="ribbon ribbon-r"></div>
</section>