<section class="holder bg-white" id="insights">
    <div class="app-container child mb-8">
        <h1 class="header">How We Different</h1>
        <p class="text-sm md:text-lg text-prime text-center tracking-wider mb-8 font-bold opacity-75">
        We deliver unique and cost-effective solutions for just any project, no matter how basic or complex the requirements are
        </p>
    </div>
    <div class="vessel">
        <figure class="child relative">
        <img class="img-pot" src="./src/images/features2.png" alt="" />
        <figcaption class="img-caption">CCTV Implementation at TATA site</figcaption>
        </figure>
        <div class="child">
        <ul class=" m-3">
            <li class="p-3 bg-prime-100 bg-opacity-50 rounded-lg m-0.5">
            <span class="para"
                >Our vision is to achieve high digree of customer satisfaction by delivering quality services and ensuring that they are well-maintained</span
            >
            </li>
            <li class="p-3 bg-prime-100 bg-opacity-40 rounded-lg m-0.5">
            <span class="para"
                >Our long-term goal is to become a leader in technology-based corporate solutions capable of evoking an explicit response from the targeted
                market</span
            >
            </li>
            <li class="p-3 bg-prime-100 bg-opacity-30 rounded-lg m-0.5">
            <span class="para"
                >Our mission is to establish a reputation as a high-quality, dependable solution and service provider in the Electrical and Electronics
                industries</span
            >
            </li>
        </ul>
        </div>
    </div>
    <div class="ribbon ribbon-l"></div>
</section>