<section class="holder bg-gray-100">
    <div class="vessel md:items-center">
        <div class="child md:items-start">
        <h1 class="header md:text-left">How We Started</h1>
        <p class="para md:text-left">
            <b>MLAN INFOTECH PVT LTD</b> Is an Indian company which started expanding its footprint from the eastern region to the rest of India and is
            committed to providing the highest quality, cost-effective services, with a particular focus on user-oriented customised solutions for information
            and communications technologies, networking, electrical, energy, and utilities in both the private and public sectors.
        </p>
        <div class="button-bag">
            <a type="button" class="btn btn-prime" href="#servicess">Know More</a>
            <a type="button" class="btn btn-second" href="#contact">Contcat Us</a>
        </div>
        </div>
        <figure class="child relative">
        <img class="img-pot" src="./src/images/features1.png" alt="" />
        <figcaption class="img-caption">Transormer Implementation at Reliance site</figcaption>
        </figure>
    </div>
    <div class="ribbon ribbon-r"></div>
</section>