<section class="holder bg-gray-100" id="service-2">
    <h1 class="header md:mb-16">Solutions For House Holders</h1>
    <div class="vessel-wrap">
        <div class="card-serv" >
        <h1 class="card-heading">Smart Home</h1>
        <img class="card-img" src="./src/images/ac.svg" alt="" />
        
        <p class="card-text">Smart homes are becoming more and more popular with ultimate union of technology, convenience and security</p>
        <ul class="service-list ">
            <li class="pb-1">Air conditioner service</li>
            <li class="pb-1">Low Power Electrical Appliance Maintaince</li>
            <li class="pb-1">Fan, Motor Water pump, Lights Maintaince</li>
            <li class="pb-1">Calling Bell and CCTV service</li>
        </ul>
        <a type="button" class="btn btn btn-prime" href="#message">Request Demo</a>
        </div>

        <div class="card-serv" >
        <h1 class="card-heading">EPBX Data and Voice</h1>
        <img class="card-img" src="./src/images/data_voice.svg" alt="" />
        
        <p class="card-text">Smart homes are becoming more and more popular with ultimate union of technology, convenience and security</p>
        <ul class="service-list ">
            <li class="pb-1">Split Ac Service</li>
            <li class="pb-1">Low Power Electrical Appliance Maintaince</li>
            <li class="pb-1">Fan , Motor Water pump , Lights Maintaince</li>
            <li class="pb-1">Calling Bell and CCTV service</li>
        </ul>
        <a type="button" class="btn btn btn-prime" href="#message">Request Demo</a>
        </div>
    </div>
    <div class="ribbon ribbon-r"></div>
</section>